# Template: Maven ##################### 
# URL: https://raw.githubusercontent.com/github/gitignore/master/Maven.gitignore 
 
 
# Template: Java ##################### 
# URL: https://raw.githubusercontent.com/github/gitignore/master/Java.gitignore 
 
 
