[user]
	name = Matt Wanchap
	email = matt.wanchap@cpal.com.au
[core]
	autocrlf = true
	editor = "C:/tools/vim/vim82/gvim.exe"
[diff]
    tool = kdiff3
[difftool]
      prompt = false
[merge]
      tool = kdiff3
[mergetool]
      prompt = false
[alias]
	ls = log --pretty=oneline --decorate --graph --abbrev-commit --all
	st = status
	last = log -1 HEAD
	ll = log --pretty=format:\"%C(yellow)%h%Cred%d\\\\ %Creset%s%Cblue\\\\ [%cn]\" --decorate --numstat
[push]
	default = simple
[credential]
	helper = manager
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process    
[winUpdater]
	recentlySeenVersion = 2.15.1.windows.2
[branch]
	autosetuprebase = always
[difftool "sourcetree"]
	cmd = 'C:/Program Files/KDiff3/kdiff3.exe' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = 'C:/Program Files/KDiff3/kdiff3.exe' \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true
